@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*  */

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.ml20 {
    margin-left: 20px;
}

.nb {
    border: none;
    border: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.left_ {
    float: left;
}

.right_ {
    float: right;
}

.center {
    width: 100%;
    text-align: center;
    clear: both;
    overflow: hidden;
}

.map {
    width: 320px;
    height: 160px;
    border: 0;
    float: left;
}

.map2 {
    width: 680px;
    height: 680px;
    border: 0;
}

.bdr_top {
    border-top: 1px solid #009046;
}

.font10 {
    font-size: 10px;
}

.t_right {
    text-align: right;
}

.font_b {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
}

ul,
dl,
ol {
    text-indent: 0;
}

li {
    list-style: none;
}

img {
    border: 0;
}



/* N */
a,
a:link,
a:visited {
    color: #2c86c3;
    text-decoration: underline;
}

a:hover {
    color: #EE7E2C;
    text-decoration: underline;
}

a:active {}

a img {
    border: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

/* End hide from IE-mac */